/* Our Services */
.our__projects__bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.1)),
    url("../images/our-projects-hero.webp");
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.our__services__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  gap: 1rem;
}
.our__services__item {
  background-color: var(--lightGreen-1);
  padding: 20px 30px;
  text-align: center;
  text-align: center;
  border-radius: 12px;
}

.our__services__item svg {
  color: var(--green-1);
}
.our__services__title {
  font-size: 1.4rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--black-1);
}
.our__services__text {
  font-size: 1.4rem;
  font-family: Raleway;
  color: var(--black-2);
}

/* ***********************************************
  Banner Section
*********************************************** */
#banner {
  margin: 70px 0;
}

.banner__wrapper {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2.2fr 1fr 1fr auto;
  gap: 2rem;
  align-items: center;
  padding: 50px 45px;
  border-radius: 20px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
    url("../images/hero3.png") center/cover no-repeat;
}

.banner__col1 h3 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0.8rem;
  font-family: Poppins;
}

.banner__col1 p {
  color: #ddd;
  font-size: 1.6rem;
}

.banner__items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.banner__items svg {
  width: 45px;
  height: 45px;
  color: var(--green-1);
  flex-shrink: 0;
}

.banner__items h3 {
  font-size: 2.5rem;
  font-family: Poppins;
  color: #fff;
  margin-bottom: 4px;
}

.banner__items p {
  color: #ddd;
  font-size: 1.5rem;
}

.banner__col2:last-child {
  display: flex;
  justify-content: flex-end;
}

.banner__col2 .btn {
  white-space: nowrap;
}

/* ***********************************************
  Banner Section
*********************************************** */

/* ***********************************************
  Our Projects
*********************************************** */
.projects__header {
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.1)),
    url("../images/hero2.png");
  position: relative;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.explore__btn__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.explore__btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background: var(--green-1);
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: Poppins;
  border-radius: 4px;
  overflow: hidden;
  isolation: isolate;
  transition: 0.3s;
  text-transform: uppercase;
}

.explore__btn:hover {
  transform: translateY(-3px);
}

.explore__btn::before {
  content: "";
  position: absolute;
  inset: -8000%;
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    transparent 320deg,
    #fff 340deg,
    transparent 360deg
  );
  animation: rotateBorder 4s linear infinite; /* slower */
  will-change: transform;
  transform: translateZ(0);
}

.explore__btn::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--green-1);
  border-radius: 2px;
}

.explore__btn {
  z-index: 1;
}

.explore__btn::before {
  z-index: -2;
}

.explore__btn::after {
  z-index: -1;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.our__project__portfolio h3 {
  color: var(--green-1);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}

.our__project__desc__wrapper {
  max-width: 600px;
}

.our__project__desc {
  font-size: 1.6rem;
  color: var(--black-3);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.filter-card {
  padding: 30px;
  border-radius: 20px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.search-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 2rem;
  align-items: center;
}

.search-title {
  width: 100%;
}

.search-title h3 {
  font-size: 1.8rem;
  color: var(--black-2);
}

.search-box {
  width: 100%;
  position: relative;
}

.search-box input {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 50px 0 18px;
  font-size: 15px;
  outline: none;
}

.search-box input:focus {
  border: 1px solid var(--black-3);
}

.search-box svg {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #eee;
}

.filter-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.category-section {
  flex: 1;
}

.category-section h3 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: var(--black-2);
}

.categories {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.4rem;
  color: var(--black-3);
  font-family: Poppins;
}

.category svg {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  pointer-events: none;
}

.category:hover {
  border-color: var(--green-1);
}

.category.active {
  background-color: var(--green-1);
  border-color: var(--green-1);
  color: #fff;
}

.selects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.selects div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selects__our__project {
  font-size: 1.8rem;
  color: var(--black-2);
  font-family: Poppins, serif;
  font-weight: 600;
}

.selects select {
  font-size: 1.4rem;
  color: var(--black-2);
  font-family: Poppins;
  width: 190px;
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 12px;
}

/* ***********************************************
  Projects Card End
*********************************************** */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.project-image {
  position: relative;
  height: 220px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 7px 14px;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.completed {
  background-color: var(--green-1);
}

.under {
  background: #f4a300;
}

.upcoming{
background-color: #f4a300;
}

.project-content {
  padding: 25px;
}

.project-number {
  font-size: 1.4rem;
  font-family: Poppins;
  color: var(--black-2);
  margin-bottom: 1rem;
}

.project-content h3 {
  margin-bottom: 12px;
  font-size: 1.44rem;
  color: var(--black-2);
  font-family: Poppins;
}

.meta {
  font-family: Poppins;
  color: var(--black-2);
  margin-bottom: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.4rem;
}

.link {
  margin-top: 20px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  color: var(--green-1);
  font-weight: 600;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: Poppins;
}

.link:hover {
  gap: 18px;
  color: #23838a;
  text-decoration: underline;
}

/* Pagination */

.pagination {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  width: 45px;
  height: 45px;

  border: 1px solid #ddd;
  background: #fff;

  border-radius: 10px;
  cursor: pointer;

  font-size: 16px;
  transition: 0.3s;
}

.pagination button:hover {
  background-color: var(--green-1);
  color: #fff;
}

.pagination button.active {
  background-color: var(--green-1);
  color: #fff;
  border-color: var(--green-1);
}

/* project not found */
.no-projects {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 2rem;
}

.no-projects svg {
  color: var(--green-1);
  margin-bottom: 2rem;
}

.no-projects h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.no-projects p {
  color: #777;
  max-width: 450px;
  line-height: 1.8;
}
/* ***********************************************
  Projects Card End
*********************************************** */

/* ***********************************************
  About 
*********************************************** */
.about__wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 60px;
  align-items: center;
}

/*==================
LEFT IMAGE
===================*/

.about__image__wrapper {
  position: relative;
  height: 700px;
}

.about__image__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.about__experience {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 170px;
  background-color: var(--green-1);
  color: #fff;
  border-radius: 12px;
  padding: 20px;
}

.about__experience h2 {
  font-size: 2.4rem;
  margin-bottom: 8px;
}

.about__experience p {
  line-height: 1.6;
}

.about__experience span {
  display: block;
  width: 45px;
  height: 3px;
  background-color: var(--green-2);
  margin-top: 20px;
}

/*==================
CONTENT
===================*/

.about__content__wrapper {
  flex: 1.2;
}

.about__content__subtitle {
  color: var(--green-1);
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Poppins;
}

.about__content__wrapper h2 {
  font-size: 3.6rem;
  margin: 18px 0 24px;
  line-height: 1.15;
  color: var(--black-2);
}

.about__content__wrapper p {
  color: var(--black-3);
  line-height: 1.8;
  margin-bottom: 35px;
  font-size: 1.6rem;
}

.about__list__items {
  list-style: none;
  margin-bottom: 40px;
}

.about__list__items li {
  margin-bottom: 18px;
  position: relative;
  padding-left: 38px;
  font-size: 1.4rem;
  font-family: Poppins;
  color: var(--black-2);
}

.about__list__items li::before {
  content: "✓";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--green-1);
  color: var(--green-1);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.about__btn {
  display: inline-block;
  background-color: var(--green-1);
  color: #fff;
  text-decoration: none;
  padding: 18px 35px;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 1.6rem;
  font-family: Poppins;
}

.about__btn:hover {
  background-color: var(--green-1);
}

/*==================
RIGHT CARDS
===================*/

.about__cards__wrapper {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__card {
  background-color: var(--lightGreen-1);
  padding: 35px;
  border-radius: 18px;
  transition: 0.3s;
  cursor: pointer;
}

.about__card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.about__icon {
  color: var(--green-1);
  margin-bottom: 20px;
}

.about__card h3 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-family: Poppins;
  color: var(--black-2);
}

.about__card p {
  color: #666;
  line-height: 1.4;
  font-family: Raleway;
  font-size: 1.6rem;
}
/* ***********************************************
  About End
*********************************************** */

/* ***********************************************
  Counter 
*********************************************** */
.stats__wrapper__container {
  background: var(--lightGreen-1);
  padding: 45px 0;
  margin-top: 5rem;
}

.stats__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
}

.stat__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.stat__icon {
  color: var(--green-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat__icon svg {
  width: 50px;
  height: 50px;
  stroke-width: 1.7;
}

.stat__content h2 {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--black-1);
  line-height: 1;
}

.stat__content p {
  margin-top: 6px;
  font-size: 1.4rem;
  color: var(--black-2);
}

/* ***********************************************
  Counter End
*********************************************** */

/*=============================
        WHY CHOOSE US
==============================*/

.section-title {
  display: flex;
  align-items: center;
  gap: 18px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.why-card {
  background-color: var(--lightGreen-1);
  border: 1px solid #edf1ec;
  border-radius: 14px;
  padding: 35px 24px;
  text-align: center;
  transition: 0.35s;
  cursor: pointer;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
}

.why-icon {
  color: var(--green-1);
  margin-bottom: 15px;
}

.why-icon svg {
  width: 60px;
  height: 60px;
}

.why-card h4 {
  font-size: 1.8rem;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--black-2);
}

.why-card p {
  color: var(--black-2);
  font-size: 1.6rem;
  font-family: Raleway, sans-serif;
}

/*==================================
          For Tablet Devices
===================================*/

@media (max-width: 1060px) {
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media (max-width: 992px) {
  /* ***********************************************
  About 
*********************************************** */
  .about__wrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .about__image__wrapper {
    height: 550px;
    order: 1;
  }

  .about__content__wrapper {
    order: 2;
  }

  .about__cards__wrapper {
    order: 3;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .about__card {
    padding: 30px;
  }

  .about__content__wrapper h2 {
    font-size: 3.2rem;
  }

  .about__content__wrapper p {
    font-size: 1.5rem;
  }

  .why-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 18px;
  }
  /* ***********************************************
  About End
*********************************************** */

  .filter-row {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  /* .banner */
  .banner__wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    padding: 40px 30px;
  }

  .banner__col1 {
    grid-column: 1/-1;
  }

  .banner__col2:last-child {
    grid-column: 1/-1;
    justify-content: flex-start;
  }

  /* counter */
  .stats__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

/*==================================
          For Small Devices
===================================*/

@media (max-width: 768px) {
  .explore__btn {
    padding: 1rem 1.6rem;
    background: var(--green-1);

    font-size: 1.3rem;
    font-family: Poppins;
    border-radius: 4px;
    overflow: hidden;
    isolation: isolate;
    transition: 0.3s;
    text-transform: uppercase;
  }
  /* Our Services */
  .our__services__wrapper {
    gap: 3rem;
  }
  .our__services__item {
    min-width: 200px;
    padding: 40px 20px;
  }

  .our__services__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .our__services__text {
    font-size: 1.6rem;
  }

  /* banner */
  .banner__wrapper {
    grid-template-columns: 1fr;
    text-align: center;
    /* justify-content: ; */
    gap: 25px;
    padding: 35px 25px;
  }

  .banner__items {
    text-align: left;
  }

  .banner__items h3 {
    font-size: 2rem;
  }

  .banner__col2:last-child {
    justify-content: center;
  }

  .banner__col1 h3 {
    font-size: 2rem;
  }

  /*  Our Projects */

  .our__project__portfolio h3 {
    font-size: 1.4rem;
  }

  .search-title h3,
  .selects__our__project,
  .category-section h3 {
    font-size: 1.6rem;
  }
  hr {
    margin: 15px 0;
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .selects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }

  .selects div {
    width: 100%;
  }

  .selects select {
    width: 100%;
  }

  /* about */
  .about__wrapper {
    gap: 35px;
  }

  .about__image__wrapper {
    height: 420px;
  }

  .about__experience {
    width: 140px;
    left: 20px;
    bottom: 20px;
    padding: 18px;
  }

  .about__experience h2 {
    font-size: 2rem;
  }

  .about__experience p {
    font-size: 1.4rem;
  }

  .about__content__subtitle {
    font-size: 1.4rem;
  }

  .about__content__wrapper h2 {
    font-size: 2.8rem;
    line-height: 1.3;
  }

  .about__content__wrapper p {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  .about__list__items {
    margin-bottom: 30px;
  }

  .about__list__items li {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .about__btn {
    width: 100%;
    text-align: center;
    padding: 16px;
  }

  .about__cards__wrapper {
    grid-template-columns: 1fr;
  }
}

/* ---------- Mobile ---------- */

@media (max-width: 600px) {
  .search-row {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .search-title {
    text-align: left;
  }

  /* counter */
  .stats__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .stat__items {
    justify-content: flex-start;
  }

  .stat__content h2 {
    font-size: 2.2rem;
  }

  .stat__icon svg {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 500px) {
  .categories {
    grid-template-columns: 1fr;
  }
}

/* ===============================
   Small Mobile
================================== */

@media (max-width: 480px) {
  .about__image__wrapper {
    height: 300px;
  }

  .about__experience {
    width: 120px;
    padding: 15px;
  }

  .about__experience h2 {
    font-size: 1.8rem;
  }

  .about__experience p {
    font-size: 1.2rem;
  }

  .about__content__wrapper h2 {
    font-size: 2.4rem;
  }

  .about__content__wrapper p {
    font-size: 1.4rem;
  }

  .about__list__items li {
    font-size: 1.4rem;
    padding-left: 32px;
  }

  .about__list__items li::before {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
  }

  .about__card {
    padding: 25px;
  }

  .about__card h3 {
    font-size: 1.7rem;
  }

  .about__card p {
    font-size: 1.4rem;
  }
}

@media (max-width: 377px) {
  .explore__btn {
    padding: 0.9rem 0.8rem;
    color: #fff;
    font-size: 1.2rem;
  }
}
